#grid-conteiner{
    height: 102px;
    display: grid;
    grid-template-rows: 34px 34px 34px;
    border-top: 2px rgb(233, 233, 233) solid;
    border-right: 2px gray solid;
    border-bottom: 2px gray solid;
    border-left: 2px rgb(233, 233, 233) solid;
    border-radius: 5px;
    background-color: white;
}

#grid-item1 {
    display: flex;
    justify-content: flex-end;
}

#grid-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#delete-button {
    height: 24px;
    width: 24px;
    background-color: rgb(207, 72, 72);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 3px;

    color: rgb(233, 233, 233);
    font-weight: 900;
    font-size: 16px;
}

#name {
    color: grey;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
}

#time {
    color: grey;
    font-weight: 500;
    font-size: 16px;
    padding-right: 20px;
}
